@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}

html{ 
    font-size: 15px;
    --ffp: "Poppins",sans-serif;
    --ffi:"Inter", sans-serif;
    --red:#DB4444
}
body{ font:16px/1.3 var(--ffp);}


.container{ max-width: 1200px; margin: auto; padding: 0 1rem;}

.row{ display: grid; grid-template-columns: repeat(12, 1fr); gap: 2rem;}
.col-1{ grid-column: span 1;}
.col-2{ grid-column: span 2;}
.col-3{ grid-column: span 3;}
.col-4{ grid-column: span 4;}
.col-5{ grid-column: span 5;}
.col-6{ grid-column: span 6;}
.col-7{ grid-column: span 7;}
.col-8{ grid-column: span 8;}
.col-9{ grid-column: span 9;}
.col-10{ grid-column: span 10;}
.col-11{ grid-column: span 11;}
.col-12{ grid-column: span 12;}
.flex{ display: flex;}
.just-space-bet{ justify-content: space-between;}
.just-right{ justify-content: right;}
.align-center{ align-items: center;}
.align-bottom{ align-items: end;}
.resp{ max-width: 100%; height: auto; }
.text-center{ text-align: center;}
.text-right{ text-align: right;}


/* layout */
.topnav{ background: #000; color: #fff; line-height: 48px; }
.topnav a{ color: inherit; text-decoration: underline; }
.topnav select{ float: right; background: none; color: inherit; border: none; margin-top: 15px;}
header{ padding: 40px 0 16px; border-bottom: 1px solid #b0b0b0;}
h1{ font-family: var(--ffi);}
h1 a{ color: inherit;}
nav li{ margin: 0 9px;}
nav a{ display: block; line-height: 24px; padding: 0 1rem; color: inherit; }
nav a.active{ text-decoration: underline; text-underline-offset: 5px; }
.cart,.wishlist{ width: 32px; height: 32px; background: none; border: none; }
.search{ display: flex; align-items: center; }
.search form{ width: 243px; background: #f5f5f5; position: relative; }
.search input{ border: none; background: none; height: 38px; width: 100%;}
.search form button{ border: none; background: none; height: 38px; position: absolute; right: 1rem;}


.banner{ padding: 40px 0 140px; overflow: hidden; }
.banner aside{ position: relative;}
.banner li{ margin-bottom: 16px; }
.banner a{ display: block; color: #000; line-height: 24px; }
.banner a.drop{ position: relative;}
.banner a.drop::after{ content: "\f054"; font-family: fontawesome; position: absolute; right: 0;}
.dropdown{ position: absolute; opacity: 0; visibility: hidden; background: #fffd; left: 100%; top: 0; white-space: nowrap; transition: 300ms; margin-left: 2rem; z-index: 1; padding: 1rem; }
.dropdown ul{ margin-right: 1rem; }
aside > ul > li:hover .dropdown{ opacity: 1; visibility: visible;}
/* aside > ul >li:hover{ outline: 1px solid;} */

.slides{ background: #000; color: #fff; position: relative; }
.slide{ display: none; }
.slide.active{ display: block;}
.banner-text{ padding: 64px 0 0 64px;}
.slide .model{ font-size: 16px; line-height: 1.5;}
.slide .model span{ font-size: 36px; vertical-align: middle; }
.slide .offer{ font-size: 48px; line-height: 1.25;}
.slide a{ color: inherit; display: inline-block; margin-top: 22px;}
.pager{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.pager li{ margin: 6px;}
.pager a{ display: block; width: 14px; height: 14px; border: 2px solid transparent; border-radius: 50%; background: #fff8 ; }
.pager a.active{ background: var(--red); border-color: #fff;}



.products{ padding: 80px 0; border-bottom: 1px solid #0005;}
.products .icon{ margin-bottom: 23px;}
.products .icon span{ display: inline-block; width: 20px; height: 40px; border-radius: 4px; background: var(--red); vertical-align: middle;}
.heading h2{ font-size: 36px; font-weight: 600;}
.timer b{ display: block; font-size: 32px; }
.timer .flex div{ margin-right: 10px;}
.colon{ position: relative; top: 18px; color: var(--red); font-size: 2rem; }
.controls{ display: flex; justify-content: end; gap: 8px}
.controls button{ width: 46px; height: 46px; background: #f5f5f5; border-radius: 50%; border: none; font-size: 20px;}

.product{ margin-top: 40px;}
.product-img{ position: relative; background: #f5f5f5; text-align: center; padding: 35px 40px ;}
.product-img a{ display: none; position: absolute; bottom: 0; left: 0; right: 0; background: #000; color:#fff; line-height: 41px; }
.product-img .discount{ position: absolute; width: 55px; line-height: 26px; background: #db4444; color: #fff; text-align: center; top: 12px; left: 12px; border-radius: 4px;}
.product-img .wish{ position: absolute; width: 34px; height: 34px; border-radius: 50%; background: #fff; border: none; right: 12px; top: 12px; }
.product-img .zoom{ position: absolute; width: 34px; height: 34px; border-radius: 50%; background: #fff; border: none; right: 12px; top:54px }
.price{ margin: 8px 0;}

.product-des{ padding-top: 16px;}
.product:hover a{ display: block;}
.view-all{ text-align: center; margin-top: 60px; }
.view-all.left{ text-align: left; margin-top: 60px; }
.view-all button{ background: #db4444; width: 234px; height: 56px; color: #fff; border-radius: 4px; border: none; font-size: 16px; font-weight: 500;}
.category{ border: 1px solid #0005; border-radius: 4px; text-align: center; padding: 25px 0; margin-top: 60px;}
.category figure{ margin-bottom: 16px;}
.category:hover{ background: #db4444; color: #fff; fill: #fff;}
.category:hover img{ filter: invert(1); }
.sep{ border-bottom: 1px solid #0005; margin: 70px 0; }



footer{ background: #000; padding: 80px 0 24px; color: #fff;}

/* responsive */
@media screen and (max-width:1220px) {
    
}

@media screen and (max-width:980px) {
    .col-t-1{ grid-column: span 1;}
    .col-t-2{ grid-column: span 2;}
    .col-t-3{ grid-column: span 3;}
    .col-t-4{ grid-column: span 4;}
    .col-t-5{ grid-column: span 5;}
    .col-t-6{ grid-column: span 6;}
    .col-t-7{ grid-column: span 7;}
    .col-t-8{ grid-column: span 8;}
    .col-t-9{ grid-column: span 9;}
    .col-t-10{ grid-column: span 10;}
    .col-t-11{ grid-column: span 11;}
    .col-t-12{ grid-column: span 12;} 
    nav li{ margin: 0 4px;}
    nav a{ padding: 0 5px;}
    .search form{width: 170px;}
}

@media screen and (max-width:767px) {
    .col-m-1{ grid-column: span 1;}
    .col-m-2{ grid-column: span 2;}
    .col-m-3{ grid-column: span 3;}
    .col-m-4{ grid-column: span 4;}
    .col-m-5{ grid-column: span 5;}
    .col-m-6{ grid-column: span 6;}
    .col-m-7{ grid-column: span 7;}
    .col-m-8{ grid-column: span 8;}
    .col-m-9{ grid-column: span 9;}
    .col-m-10{ grid-column: span 10;}
    .col-m-11{ grid-column: span 11;}
    .col-m-12{ grid-column: span 12;}
    .saletext{ padding-right: 75px; font-size: 12px; white-space: nowrap; overflow: hidden; }
    nav{ display: none;}
    
}

@media screen and (max-width:460px) {
    .col-p-1{ grid-column: span 1;}
    .col-p-2{ grid-column: span 2;}
    .col-p-3{ grid-column: span 3;}
    .col-p-4{ grid-column: span 4;}
    .col-p-5{ grid-column: span 5;}
    .col-p-6{ grid-column: span 6;}
    .col-p-7{ grid-column: span 7;}
    .col-p-8{ grid-column: span 8;}
    .col-p-9{ grid-column: span 9;}
    .col-p-10{ grid-column: span 10;}
    .col-p-11{ grid-column: span 11;}
    .col-p-12{ grid-column: span 12;}
    .search form{ width: 90px;}
}