@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}

html{ 
    font-size: 15px;
    --ffp: "Poppins",sans-serif;
    --ffi:"Inter", sans-serif;
}
body{ font:16px/1.3 var(--ffp);}


.container{ max-width: 1200px; margin: auto; padding: 0 1rem;}

.row{ display: grid; grid-template-columns: repeat(12, 1fr); gap: 2rem;}
.col-1{ grid-column: span 1;}
.col-2{ grid-column: span 2;}
.col-3{ grid-column: span 3;}
.col-4{ grid-column: span 4;}
.col-5{ grid-column: span 5;}
.col-6{ grid-column: span 6;}
.col-7{ grid-column: span 7;}
.col-8{ grid-column: span 8;}
.col-9{ grid-column: span 9;}
.col-10{ grid-column: span 10;}
.col-11{ grid-column: span 11;}
.col-12{ grid-column: span 12;}
.flex{ display: flex;}
.just-space-bet{ justify-content: space-between;}
.just-right{ justify-content: right;}
.align-center{ align-items: center;}
.resp{ max-width: 100%; height: auto; }
.text-center{ text-align: center;}
.text-right{ text-align: right;}


/* layout */
.topnav{ background: #000; color: #fff; line-height: 48px; }
.topnav a{ color: inherit; text-decoration: underline; }
.topnav select{ float: right; background: none; color: inherit; border: none; margin-top: 15px;}
header{ padding: 40px 0 16px; border-bottom: 1px solid #b0b0b0;}
h1{ font-family: var(--ffi);}
h1 a{ color: inherit;}




/* responsive */
@media screen and (max-width:1220px) {
    
}

@media screen and (max-width:980px) {
    .col-t-1{ grid-column: span 1;}
    .col-t-2{ grid-column: span 2;}
    .col-t-3{ grid-column: span 3;}
    .col-t-4{ grid-column: span 4;}
    .col-t-5{ grid-column: span 5;}
    .col-t-6{ grid-column: span 6;}
    .col-t-7{ grid-column: span 7;}
    .col-t-8{ grid-column: span 8;}
    .col-t-9{ grid-column: span 9;}
    .col-t-10{ grid-column: span 10;}
    .col-t-11{ grid-column: span 11;}
    .col-t-12{ grid-column: span 12;} 
  
}

@media screen and (max-width:767px) {
    .col-m-1{ grid-column: span 1;}
    .col-m-2{ grid-column: span 2;}
    .col-m-3{ grid-column: span 3;}
    .col-m-4{ grid-column: span 4;}
    .col-m-5{ grid-column: span 5;}
    .col-m-6{ grid-column: span 6;}
    .col-m-7{ grid-column: span 7;}
    .col-m-8{ grid-column: span 8;}
    .col-m-9{ grid-column: span 9;}
    .col-m-10{ grid-column: span 10;}
    .col-m-11{ grid-column: span 11;}
    .col-m-12{ grid-column: span 12;}
    
    
}

@media screen and (max-width:460px) {
    .col-p-1{ grid-column: span 1;}
    .col-p-2{ grid-column: span 2;}
    .col-p-3{ grid-column: span 3;}
    .col-p-4{ grid-column: span 4;}
    .col-p-5{ grid-column: span 5;}
    .col-p-6{ grid-column: span 6;}
    .col-p-7{ grid-column: span 7;}
    .col-p-8{ grid-column: span 8;}
    .col-p-9{ grid-column: span 9;}
    .col-p-10{ grid-column: span 10;}
    .col-p-11{ grid-column: span 11;}
    .col-p-12{ grid-column: span 12;}
}